/* -----------------------------------------------------------------------------
    Main CSS file for the CyBy-Draw

    Specialised classes are available in other CSS files
    and will overwrite the classes here.
 ---------------------------------------------------------------------------- */

.cyby-draw-detail {
  display: grid;
  grid-template-rows: max-content max-content;
  row-gap: 2px;
}

/* Logging */

#app-log {
  padding: 20px 20px 20px 0;
  margin: 0;
}

.cyby-draw-loglvl-trace {
  color: rgb(0  0  0);
}

.cyby-draw-loglvl-debug {
  color: rgb(0  0  255);
}

.cyby-draw-loglvl-info {
  color: rgb(0  128  0);
}

.cyby-draw-loglvl-error {
  color: rgb(255  0  0);
}

.cyby-draw-loglvl-fatal {
  color: rgb(255  0  0);
}

.cyby-draw-loglvl-warning {
  color: rgb(255  165  0);
}

.cyby-draw-loglvl-warn {
  color: rgb(255 165 0);
}

.cyby-draw-log-row {
  display: grid;
  grid-template-columns: 40px 1fr;
}
