/* -----------------------------------------------------------------------------
    Specialised CSS file for the Word AddIn

    This rules overwrite the standard CyBy-Draw CSS settings
    for adjusting it to the word addin style.
 ---------------------------------------------------------------------------- */

/* replace the padding with the top margin */
.cyby-draw-main-content {
  padding: 0;
  margin-top: 20px;
}

/* change the normal svg icon to the export svg icon */
.cyby-draw-icon.svg {
  background-image: url("draw_icons/icon_svg_exp.svg");
}

/* extra class for the svg import icon */
.cyby-draw-icon.svg-imp {
  background-image: url("draw_icons/icon_svg_imp.svg");
}
