/* -----------------------------------------------------------------------------
    Main CSS file for the CyBy-Draw

    Specialised classes are available in other CSS files
    and will overwrite the classes here.
 ---------------------------------------------------------------------------- */

/* Page */
html {
  height: 100%;
  font-size: 10px;
}

body {
  background-color: darkgrey;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

.cyby-draw-main-content {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 10px;
  background-color: darkgrey;
  padding: 20px;
}

/* Buttons and Icons */

.cyby-draw-icon {
  width: 20px;
  height: 20px;
  border: none;
  background-size: 100%;
  background-color: transparent;
}

.cyby-draw-icon:hover {
  border-radius: 3px;
  background-color: rgb(158 158 158);
}

.cyby-draw-icon:disabled {
  opacity: 0.5;
}

.cyby-draw-icon:disabled:hover {
  opacity: 0.5;
  background-color: transparent;
}

.cyby-draw-radio-icon {
  appearance: none;
  width: 20px;
  height: 20px;
  background-size: 100%;
  margin: 0;
  border-radius: 3px;
  border: 1px solid darkgrey;
}

.cyby-draw-radio-icon:checked {
  border: 1px solid black;
  background-color: rgb(189 189 189);
}

.cyby-draw-radio-icon:hover {
  background-color: rgb(158 158 158);
}

/* Sketcher with Canvas and Buttons */
.cyby-draw-sketcher-div {
  background-color: rgb(238 238 238);
  grid-column: 1;
  grid-row: 1;
  display: grid;
  padding: 3px;
  row-gap: 3px;
  column-gap: 3px;
  grid-template:
    "top top dot" max-content
    "left draw right" 1fr
    "left bot right" max-content / min-content 1fr min-content;
}

.cyby-draw-toolbar-top {
  display: grid;
  grid-template-columns: repeat(16, min-content);
  column-gap: 3px;
  grid-area: top;
}

.cyby-draw-toolbar-left {
  display: grid;
  grid-template-rows: repeat(9, min-content);
  row-gap: 3px;
  grid-area: left;
}

.cyby-draw-toolbar-right {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 6px;
  grid-area: right;
}

.cyby-draw-toolbar-bottom-outer {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 3px;
  align-items: center;
  grid-area: bot;
}

.cyby-draw-toolbar-bottom-inner {
  display: grid;
  grid-template-columns: repeat(7, min-content);
  column-gap: 3px;
}

.cyby-draw-radio-icon.sel {
  background-image: url("draw_icons/icon_select.svg");
}

.cyby-draw-radio-icon.erase {
  background-image: url("draw_icons/icon_eraser.svg");
}

.cyby-draw-icon.clear {
  background-image: url("draw_icons/icon_trash.svg");
}

.cyby-draw-icon.svg {
  background-image: url("draw_icons/icon_svg.svg");
}

.cyby-draw-icon.undo {
  background-image: url("draw_icons/icon_undo.svg");
}

.cyby-draw-icon.redo {
  background-image: url("draw_icons/icon_redo.svg");
}

.cyby-draw-icon.zoom-in {
  background-image: url("draw_icons/icon_zoomIn.svg");
}

.cyby-draw-icon.center {
  background-image: url("draw_icons/icon_centering.svg");
}

.cyby-draw-icon.zoom-out {
  background-image: url("draw_icons/icon_zoomOut.svg");
}

.cyby-draw-radio-icon.benzene {
  background-image: url("draw_icons/icon_benzene.svg");
}

.cyby-draw-radio-icon.cyclopropane {
  background-image: url("draw_icons/icon_cyclopropane.svg");
}

.cyby-draw-radio-icon.cyclobutane {
  background-image: url("draw_icons/icon_cyclobutane.svg");
}

.cyby-draw-radio-icon.cyclopentane {
  background-image: url("draw_icons/icon_cyclopentane.svg");
}

.cyby-draw-radio-icon.cyclohexane {
  background-image: url("draw_icons/icon_cyclohexane.svg");
}

.cyby-draw-radio-icon.cycloheptane {
  background-image: url("draw_icons/icon_cycloheptane.svg");
}

.cyby-draw-radio-icon.cyclooctane {
  background-image: url("draw_icons/icon_cyclooctane.svg");
}

.cyby-draw-radio-icon.single-bond {
  background-image: url("draw_icons/icon_snglB.svg");
}

.cyby-draw-radio-icon.single-up {
  background-image: url("draw_icons/icon_snglBUp.svg");
}

.cyby-draw-radio-icon.single-down {
  background-image: url("draw_icons/icon_snglBDown.svg");
}

.cyby-draw-radio-icon.single-up-down {
  background-image: url("draw_icons/icon_snglBUpDown.svg");
}

.cyby-draw-radio-icon.double-bond {
  background-image: url("draw_icons/icon_dblB.svg");
}

.cyby-draw-radio-icon.triple-bond {
  background-image: url("draw_icons/icon_trplB.svg");
}

.cyby-draw-radio-icon.set-c {
  background-image: url("draw_icons/icon_c.svg");
}

.cyby-draw-radio-icon.set-n {
  background-image: url("draw_icons/icon_n.svg");
}

.cyby-draw-radio-icon.set-o {
  background-image: url("draw_icons/icon_o.svg");
}

.cyby-draw-radio-icon.set-s {
  background-image: url("draw_icons/icon_s.svg");
}

.cyby-draw-radio-icon.set-f {
  background-image: url("draw_icons/icon_f.svg");
}

.cyby-draw-radio-icon.set-p {
  background-image: url("draw_icons/icon_p.svg");
}

.cyby-draw-radio-icon.set-b {
  background-image: url("draw_icons/icon_b.svg");
}

.cyby-draw-radio-icon.set-cl {
  background-image: url("draw_icons/icon_cl.svg");
}

.cyby-draw-radio-icon.set-br {
  background-image: url("draw_icons/icon_br.svg");
}

.cyby-draw-radio-icon.pse {
  background-image: url("draw_icons/icon_pse.svg");
}

.cyby-draw-molecule-canvas {
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  grid-area: draw;
  justify-self: center;
  overflow: hidden;
  resize: both;
}

.cyby-draw-molecule-canvas:focus {
  border: 1px solid black;
}

.cyby-draw-molecule-canvas.rotating {
  cursor: url("draw_icons/icon_rotation.svg"), auto;
}

.cyby-draw-molecule-canvas.dragging {
  cursor: move;
}

/* Debug Information of the drawn molecule */
.cyby-draw-info-list {
  display: grid;
  grid-template-columns: 150px max-content;
  grid-auto-rows: max-content;
  row-gap: 10px;
}

.cyby-draw-detail {
  display: grid;
  grid-template-rows: max-content max-content;
  row-gap: 2px;
}

.cyby-draw-label {
  font-size: 1.1rem;
}

.cyby-draw-select {
  font-size: 1.1rem;
  height: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.cyby-draw-select.active {
  border-radius: 3px;
  border: 1px solid black;
  background-color: rgb(189 189 189);
}

/* Util */
.hidden {
  display: none;
}
