/* -----------------------------------------------------------------------------
    Specialised CSS file for the Word AddIn

    This rules overwrite the standard CyBy-Draw CSS settings
    for adjusting it to the word addin style.
 ---------------------------------------------------------------------------- */

/* replace the padding with the top margin */
.cyby-draw-main-content {
  padding: 0;
  margin-top: 20px;
}

/* extra class for the svg export icon */
.cyby-draw-icon.to-word {
  background-image: url("draw_icons/icon_svg_exp_word.svg");
}

/* extra class for the svg import icon */
.cyby-draw-icon.from-word {
  background-image: url("draw_icons/icon_svg_imp_word.svg");
}
